<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />

    <% if (PLATFORM === 'gd' || PLATFORM === 'mobile') { %>
      <meta name="description" content="Cryptogram - a game on logic and attention">
    <% } else { %>
      <meta name="description" content="Криптограмма - игра на логику и внимательность">
    <% } %>

    <% if (PLATFORM === 'gd' || PLATFORM === 'mobile') { %>
      <title>Cryptogram</title>
    <% } else { %>
      <title>Криптограмма</title> 
    <% } %>
    <link rel="stylesheet" href="newReset.css" />

    <script>
        var musicStoppedByAdv = false;
    </script>
    <!-- Yandex Games SDK -->
     <script>
      var YaGames;
      </script>
      <% if (PLATFORM === 'yandex') { %>
        <script src="/sdk.js"></script>
      <% } %>


      <% if (PLATFORM === 'gd') { %>
        <script>
          function switchOnMainMusic(){
              try{
                  window.audioContext.resume();
              }catch(e){}
          }
          function switchOffMainMusic(){
              try{
                  window.audioContext.suspend();
              }catch(e){}
          }
          var gdsdk;
          var rewardedVideoDone = false;
          window["GD_OPTIONS"] = {
              "gameId": "b42420ae0c3640cf9a113e40e9e4390a",
              "onEvent": function(event) {
                  switch (event.name) {
                      case "SDK_GAME_START":
                          console.log('game start');
                          switchOnMainMusic();
                          musicStoppedByAdv = false;
                          break;
                      case "SDK_GAME_PAUSE":
                          console.log('bbb');
                          switchOffMainMusic();
                          musicStoppedByAdv = true;
                          break;
                      case "SDK_GDPR_TRACKING":
                          break;
                      case "SDK_GDPR_TARGETING":
                          break;
                      case "SDK_REWARDED_WATCH_COMPLETE":
                          console.log('rewarded true');
                          rewardedVideoDone = true;
                          break;
                  }
              },
          };
          (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s);
              js.id = id;
              js.src = 'https://html5.api.gamedistribution.com/main.min.js';
              fjs.parentNode.insertBefore(js, fjs);
              if ('serviceWorker' in navigator && !isNativeCache) {
                  window.onload = function(){
                      navigator.serviceWorker
                          .register('sw.js')
                          .then(function(reg) {
                              console.log('Registration succeeded. Scope is ' + reg.scope);
                          })
                          .catch(function(error) {
                              console.error('Trouble with sw: ', error);
                          });
                  };
              }
          }(document, 'script', 'gamedistribution-jssdk'));
      </script>
      <% } %>



      
    
  </head>
  <body>
      <!-- Yandex.Metrika counter -->
      <% if (PLATFORM === 'yandex') { %>
      <script type="text/javascript" >
          (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
          m[i].l=1*new Date();
          for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
          k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
          (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
          ym(102631060, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true
          });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/102631060" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <% } %>
      <% if (PLATFORM === 'gp') { %>
        <script type="text/javascript" >
          (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
          m[i].l=1*new Date();
          for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
          k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
          (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

          ym(103175743, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true
          });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/103175743" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <% } %>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
    <% if (PLATFORM === 'gp' || PLATFORM === 'mobile') { %>
      <script src="https://gamepush.com/sdk/gamepush.js?projectId=22609&publicToken=lnYwyPc6QQjxcHdYkNr0BEyOrxhytsye&callback=onGPInit"></script>
    <% } %>
  </body>
</html>
