.menu__modes{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 30px;
}
.menu__mode-card-wrapper{
     position: relative;
}
.menu__mode-card{
     --inset-shadow-color: white;
     background: url(../../assets/modes/everyDay.png) center center no-repeat, #e8e9ff;
     background-size: 88%;
     border-radius: 10px;
     box-shadow: 0px 1px 0px 1px rgba(10, 10, 10, 0.33),0px 1px 0px 2px rgba(10, 10, 10, 0.14), inset 0 0 0 3px var(--inset-shadow-color); 
     padding: 4px 0 6px 0;  
     cursor: pointer;
     position: relative;
     z-index: 2;
     height: 94px;
     width: 165px;
}
.menu__mode-card_notAvailable{
     cursor: default;
}
.menu__mode-card_closed{
     padding: 4px 6px 3px 6px; 
     display: flex;
     flex-flow: column nowrap;
     justify-content: space-between;
     cursor: default;
}
.menu__mode-card_blur{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(230, 236, 248, 0.6);
     border-radius: 10px;
}
.menu__mode-card__name{
     color: #081928;
     font-size: 0.9rem;
     line-height: 0.9rem;
     text-transform: uppercase;
     text-align: center;
     margin: 2px;
     font-weight: 600;
     position: relative;
}
.menu__mode-card__iq{
     color: #888bbb;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.5rem;
     line-height: 1.5rem;
     margin: 7px 0 4px 0;
}
.menu__mode-card__iq-number{
     color: #373b82;
     margin-left: 5px;
}
.menu__mode-card__play{
     text-align: center;
     color: white;
     background-color: #646ada;
     font-size: 1.1rem;
     border-radius: 5px;
     box-shadow:inset 0px -2px 0px 0px rgba(0, 0, 0, 0.4);
     padding: 3px 30px;
     text-transform: uppercase;
     font-weight: 600;
     width: 80%;
     margin: 0 auto;
     
}

.menu__mode-card__time{
     position: absolute;
     bottom: 0;
     right: 10px;
     background-color: #70536a;
     color: #e9ddd7;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 0.8rem;
     line-height: 0.8rem;
     padding: 3px 7px;
     transform: translateY(100%);
     border-radius: 0 0 5px 5px;
     z-index: 1;
}
.menu__mode-card__hourglass{
     width: 10px;
     height: 10px;
     background: url(../../assets/modes/hourglass.svg) center center no-repeat;
     background-size: contain;
     margin-right: 3px;
}
.menu__mode-card .menu-daily-value{
     width: 35px;
     height: 35px;
     border-radius: 12px;
     margin: 0 auto 0 auto;

}
.menu__mode-card .menu-daily-value-done{
     width: 23px;
     height: 20px;
}
.doneDailyTaskAnimation{
     animation: doneDailyTaskAnimation 0.3s ease-in-out forwards;
}
.closedMode{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
   background: linear-gradient( 120deg, rgb(182,193,255) 0%, rgb(210,198,255) 100%);
   opacity: 0.9;        
   z-index: 2;
   border-radius: 10px;
   box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5);
}
.closedMode__text{
     position: absolute;
     top: 21px;
     left: 0;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     color:  #6769bd;;
     font-size: 0.9rem;
     line-height: 0.9rem;
     z-index: 2;
}

@keyframes doneDailyTaskAnimation {
     0%{
         transform: scale(1.2);
     }
     100%{
          transform: scale(1);
     }
}

.menu__mode-card__timeUntillNext{
     font-size: 0.8rem;
     line-height: 0.8rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     color: #7c81b6;
}
.menu__mode-card__timeUntillNext__text{
     /* color: #646573; */
     font-weight: 600;
}
.menu__mode-card__timer{
     width: 11px;
     height: 11px;
     /* background: url(../../assets/stats/time.png) center center no-repeat; */
     background: url(../../assets/timer2.png) center center no-repeat;
     background-size: contain;
     margin-right: 2px;
}

@media (min-height: 800px) and (min-width: 600px) {
     .menu__mode-card{
          padding: 8px 0 8px 0;  
          background-size: 90%;
          height: 113px;
          width: 196px;
     }
     .menu__mode-card_closed{
          padding: 8px 6px 4px 6px; 
     }
     .menu__mode-card__name{
          font-size: 1.1rem;
          line-height: 1.1rem;
     }
     .menu__mode-card__iq{
          font-size: 1.7rem;
          line-height: 1.7rem;
     }
     .menu__mode-card__play{
          font-size: 1.3rem;
          padding: 4px 35px;
     }
     .menu__mode-card__time{
          font-size: 0.9rem;
          line-height: 0.9rem;
          padding: 4px 8px;
     }
     .menu__mode-card__hourglass{
          width: 11px;
          height: 11px;
          margin-right: 3px;
     }
     .menu__mode-card .menu-daily-value{
          width: 40px;
          height: 40px;
          border-radius: 15px;
          margin: 0 auto 0 auto;
     
     }
     .menu__mode-card .menu-daily-value-done{
          width: 27px;
          height: 23px;
     }
     .menu__mode-card__timeUntillNext{
          font-size: 0.9rem;
          line-height: 0.9rem;
     }
     .closedMode__text{
          font-size: 1.05rem;
          line-height: 1.05rem;
          top: 30px;
     }
}

@media (max-height: 700px){
     .menu__mode-card{
          height: 82px;
          width: 165px;
     }
     .menu__mode-card__iq{
          font-size: 1.2rem;
          line-height: 1.2rem;
     }
     .menu__mode-card__play{
          font-size: 1rem;
          /* line-height: 1rem; */
          padding: 1px 10px;
     }
     .menu__mode-card .menu-daily-value{
          width: 32px;
          height: 32px;
     }
     .menu__mode-card .menu-daily-value-done{
          width: 21px;
          height: 19px;
     }
}
.menu__mode-card-wrapper{
     margin: 5px;
}

.calendarMode .menu__mode-card{
     background: url(../../assets/locations/autumn/mode2.png) center center no-repeat;
     background-size: cover;
     --inset-shadow-color: #f99766;
}
.calendarMode .menu__mode-card{
     background: url(../../assets/locations/winter/mode.png) center center no-repeat;
     background-size: cover;
     --inset-shadow-color: #8ac4f4;
}
.calendarMode .menu__mode-card{
     /* display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center; */
}
.calendarMode .menu__mode-card__name{
     color: #fff;
     text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
     /* font-size: 1.4rem;
     line-height: 1.4rem; */
}
.calendarMode .menu__mode-card__iq, .calendarMode .menu__mode-card__iq-number{
     color: #fff;
     text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
     /* opacity: 0 !important; */
}
.calendarMode .menu__mode-card__play{
     background-color: #fdfdfd;
     color: #294a7f;
     margin-top: auto;
}
.shiny-button-anotherTiming::before{
     animation: shineButton 9s infinite;
}