/* Стили для Game */
/*Header*/
.game-header{
     color: #fdfdfd;
     opacity: 1;
}
.game-header_hidden{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}
.game-header-wrap{
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.game-bg{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url('../assets/bgSpring-big.png') center center no-repeat;
  background-position: 10%;
  background-size: cover;
}
@media (orientation: portrait) {
  .game-bg {
    /* background: url('../assets/bgSpring-big2.png') center center no-repeat; */
    background-size: cover;
  }
}
.game-bg-blackout{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.7);
     z-index: 2;
     pointer-events: none;
}
.blackout-hint{
  pointer-events: all;
  z-index: 3;
  cursor: pointer;
}
.disabledButton{
  opacity: 0;
  pointer-events: none;
}
.game-bg-blackout_playersPassed{
  z-index: 11;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: all;
  cursor: pointer;
}
@keyframes bgBlur{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.game-bg-blur{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .15);
  animation: bgBlur 1s linear forwards;
}
.game-header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background: transparent;
  font-size: 1.1rem;
}
.game-header_sameSize{
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-header-type-icon{
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.game-header-type-icon_quotes{
  background: url('../assets/collection/q.svg') center center no-repeat;
}
.game-header-type-icon_poems{
  background: url('../assets/collection/p.svg') center center no-repeat;
}
.game-header-type-icon_aphorisms{
  background: url('../assets/collection/a.svg') center center no-repeat;
}
.game-header-type-icon_music{
  background: url('../assets/collection/m.svg') center center no-repeat;
}
.game-header-type-icon_cinema{
  background: url('../assets/collection/c.svg') center center no-repeat;
}
.game-header-type-icon_science{
  background: url('../assets/collection/s.svg') center center no-repeat;
}
.game-header-type-icon{
  background-size: 100%;
}
.game-hint{
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  background-color: #6cb4f0;
  padding: 15px;
  width: 300px;
  border-radius: 5px;
}
.game-hint-title{
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.game-hint-text{
  font-size: 1.1rem;
}
.text-center {
  cursor: pointer;
}
.mistakeCircle{
  background-color: #dddce1;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 0 2px;
  transition: background 0.3s ease-in-out;
}
.mistakeCircle_got{
  box-shadow: 0px 1px 0px 0px rgba(10, 10, 10, 0.35),inset -2.457px 1.721px 0px 0px rgba(250, 125, 146, 0.004),inset 2.007px 2.229px 0px 0px rgba(250, 125, 146, 0.004);
  background-color: #ff4463;
  background: url('../assets/cross.svg') center center no-repeat, #ff4463;
  background-position: center center;
  background-size: 80%;
  animation: errorShake 0.7s ease-in-out;
}

@keyframes errorShake {
  0%, 100% {
     transform: scale(1);
     }
  50% { transform: scale(1.7); }
}
.mistakeCircle__svg{
  height: 80%;
  width: 80%;
}

.menu-tips-btn{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow:
   0px 2px 0px 0px rgba(10, 10, 10, 0.25),
   inset -1px 1px 0px 0px rgba(255, 255, 255, 0.3),
   inset 1px 1px 0px 0px rgba(255, 255, 255, 0.3);
  background-color: rgb(221, 220, 225);
  background: url('../assets/tip.svg') center center no-repeat, rgb(221, 220, 225);
  background-size: 40%;

  cursor: pointer;
}
.menu-tips-btn__count{
  position: absolute;
  right: -5px;
  bottom: -5px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  border-radius: 50%;

  font-size: 0.8rem;
  font-weight: bold;

  border: 1px solid rgb(221, 220, 225);
  background-color: #28d730;
  
}
.menu-tips-btn_close{
  background: url('../assets/close.svg') center center no-repeat, rgb(221, 220, 225);
  background-size: 45%;
}



.game-main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.game-keyboard {
  position: relative;
  width: 100%;
  box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.3);
  margin: 0 auto;
  background: #30347b;  
  padding: 16px 6px;
  /* top: 500px; */
  /* animation: keyboardAnimationReverse 0.8s linear forwards; */
} 
.game-keyboard-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 40px;
  background-color: white;
  top: -1px;
  right: 5px;
  transform: translate(0, -100%);
  background-color: rgba(48, 52, 123, 0.89);
  border: 2px solid rgb(54, 58, 137);
  border-radius: 4px 4px 0 0;
  /* border-bottom: 3px solid #282b65; */

  z-index: 2;
  
}
.game-keyboard-buttons_left{
  left: 5px;
  right: auto;
}
.game-keyboard-buttons:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: -2px;
  width: 100px;
  height: 3px;
  background-color: #282b65;
  transform: translateY(100%);
}
.game-keyboard-moveLeft, .game-keyboard-moveRight{
  width: 50%;
  height: 100%;
  background: url('../assets/arrow1.svg') center center no-repeat;
  background-size: 40%;
  border-right: 1px solid #282b65;
  cursor: pointer;
}
.game-keyboard-moveLeft:active, .game-keyboard-moveRight:active{
  background-color: #282b65;
}
.game-keyboard-moveRight{
  transform: rotate(180deg);
  border-left: none;
  border-left: 1px solid #282b65;
}
@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.keyboard-blocked{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 12, 37, 0.98);
  color: #fdfdfd;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.keyboard-blocked_show{
  opacity: 1;
  pointer-events: all;
}
.keyboard-blocked-text{
  text-align: left;
  font-weight: 500;
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.3rem;
  margin: 10px 0 20px 0;
}
.keyboard-blocked-text__time{
  color: #ff4463;
}
.cancelBlocked{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fdfdfd;
  cursor: pointer;
}
.cancelBlocked::after{
  content: '';
  position: absolute;
  left: -10px;
  top: -10px;
  bottom: -10px;
  right: -10px;
}
.cancelBlocked .moneyCount{
  position: static;
  left: 0;
  transform: none;
  font-size: 1.3rem;
  line-height: 1.3rem;
}
.cancelBlocked .moneyCount .modal-shop-row-price-icon{
  width: 28px;
  height: 23.04px;
}
.cancelBlocked-text{
  color: #43d109;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.35rem;
  margin-left: 10px;
  border-bottom: 1px solid #43d109;
}
@keyframes keyboardAnimationReverse{
  0%{
    top: 500px;
  }
  100%{
    top: 0;
  }
}
@keyframes keyboardAnimation{
  0%{
    top: 0;
  }
  100%{
    top: 300px;
  }
}
.game-keyboard_hidden{
  animation: keyboardAnimation 0.8s linear forwards;
}
@keyframes mainOpacityAnimation{
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.game-main_author{
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  text-align: right;
  margin-left: auto;
  animation: mainOpacityAnimation 1s ease-in-out forwards;
}
.game-main_copyButton{
  position: relative;
  width: 40px;
  height: 40px;
  background: url('../assets/copy.svg') center center no-repeat;
  background-size: 60%;
  margin-left: 5px;
  transform: translateY(-2px);
  cursor: pointer;
}
.game-main_copyButton:after{
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
}
.game-main_author-name{
  font-size: 1.2rem;
  font-weight: 500;
  color: #fdfdfd;
}
.game-main_author-desc{
  font-size: 1rem;
  font-weight: 400;
  color: #91919B;
}
@keyframes addedMoneyAnimation{
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0;
    transform: scale(1);
  }
  80%{
    opacity: 1;
    transform: scale(1);
  }
  90%{
    opacity: 1;
    transform: scale(1.3);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
.addedMoney{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #fcd249;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(10, 10, 10, 0.49);
  margin-bottom: 10px;
  animation: addedMoneyAnimation 3.4s ease-in-out forwards;
}

.addedMoney .modal-shop-row-price-icon{
  width: 33px;
  height: 27.156px;
  margin-right: 5px;
}
.nextLevelButton{
    margin-top: auto;
    margin-bottom: 100px;
    z-index: 1;
    width: 220px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #6cb4f0;
    border-radius: 10px;
    box-shadow: 0 1px 0px 0 rgba(10, 10, 10, 0.4),inset 0px -2px 0px 0px rgba(10,10,10,0.4);
    animation: mainOpacityAnimation 2.8s ease-in-out forwards;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 10vh;
}
.nextLevelButton:active{
  box-shadow: none;
  transform: scale(0.99);
}
.nextLevelButton-text{
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: bold;
    color: #fdfdfd;
}
.nextLevelButton-level{
    font-size: 1.1rem;
    font-weight: bold;
    color: #BED6F4;
    text-transform: uppercase;
}
.game-header-gameName{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: #e7edf2;
  font-size: 1.1rem;
  margin-left: 60px;
}
.game-header-gameName_text{
  font-size: 1.4rem;
  margin-left: 8px;
}
.game-header-type-icon-levelDone{
  width: 45px;
  height: 45px;
}
.game-header-type-icon-levelDone_quotes{
  background: url('../assets/collection/forLevelDone/q.svg') center center no-repeat;
}
.game-header-type-icon-levelDone_aphorisms{
  background: url('../assets/collection/forLevelDone/a.svg') center center no-repeat;
}
.game-header-type-icon-levelDone_poems{
  background: url('../assets/collection/forLevelDone/p.svg') center center no-repeat;
}
.game-header-type-icon-levelDone_music{
  background: url('../assets/collection/forLevelDone/m.svg') center center no-repeat;
}
.game-header-type-icon-levelDone_cinema{
  background: url('../assets/collection/forLevelDone/c.svg') center center no-repeat;
}
.game-header-type-icon-levelDone_science{
  background: url('../assets/collection/forLevelDone/s.svg') center center no-repeat;
}
.game-header-type-icon-levelDone{
  background-size: 100%;
}

.game-header-time{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.4rem;
  color: #ccd5dd;
  width: 100px;
}
.game-header-time_text{
  line-height: 1.4rem;
}
.game-header-time-icon{
  width: 30px;
  height: 30px;
  background: url(../assets/time.svg) no-repeat center center;
  background-size: 100%;
  margin-right: 5px;
}