/* Стили для клавиатуры */

.keyboard-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.keyboard-key {
  cursor: pointer;
  width: 32px;
  height: 44.8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  /* font-size: 34px; */
  text-transform: uppercase;
  background-color: rgb(227, 236, 251);
  box-shadow: 0px 2px 0px 0px rgba(10, 10, 10, 0.22);
  color: #30347b;
  transition: background 0.1s;
  transition: background 0.2s, box-shadow 0.2s, transform 0.1s;
}
   
.keyboard-key:active:not(.keyboard-key_inactive) {
     /* «утопление» */
     transform: scale(0.99);
     background: #868cf7;
     box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
   
.keyboard-key_used{
  color: #0eb516;
}

.keyboard-key_inactive{
  background-color: rgb(115, 119, 181);
  box-shadow: 0px 2px 0px 0px rgba(10, 10, 10, 0.22);
  color: #898dce;
  cursor: default;
   
} 
.keyboard-key_cantUpper{
  text-transform: none !important;
}