
/* Стили для Phrase */

.phrase-row {
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  padding: 30px 0;
}
.phrase-row_overflowHidden{
     /* overflow: hidden; */
}

.phrase-word {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5px;
  margin: 0 10px 22px 10px;
}

.phrase-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  border-radius: 2px;
  transition: border-color 0.2s;
  font-weight: 400;
  background-color: var(--mainColor);
}
.phrase-cell_bg{
     background-color: var(--mainColor);
}
.phrase-cell, .phrase-cell_done .phrase-cell-inner{
     border: var(--cellBorderSize) solid rgb(114, 119, 236);
     box-shadow: 0px 1px 0px 0px rgba(10, 10, 10, 0.22);
}
.phrase-cell_done{
     border: none !important;
     box-shadow: none !important;
     background: transparent !important;
}
.phrase-cell_done .phrase-cell-inner{
     box-sizing: content-box;
     border-bottom: none;
     margin-bottom: 3px;
     background-color: var(--mainColor);
}

.phrase-cell_notFilled{
     background-color: var(--notFilledColor) !important;
     border: var(--cellBorderSize) solid transparent !important;
     z-index: 2;
}


.phrase-cell-inner {
  width: fit-content;
  min-width: 1.8225rem;
  height: 2.43rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  border-radius: 2px;

  position: relative;
  margin-bottom: 2px;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px rgba(10, 10, 10, 0.35);
}

.phrase-cell-number {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  line-height: 1.7rem;
  transition: color 0.2s;
  color: #dddce1;
  font-weight: 300;
  max-height: 100px;
  position: relative;
}
.phrase-cell_notFilled .phrase-cell-number{
     color: #6C72F0;
}

   @keyframes wave {
     0%, 100% {
       box-shadow:
          inset 0 0 0 1px #4eff00,
         -1px -1px 0 0 rgba(81, 224, 38, 0.3),
          1px -1px 0 0 rgba(81, 224, 38, 0.3),
          1px  1px 0 0 rgba(81, 224, 38, 0.3),
         -1px  1px 0 0 rgba(81, 224, 38, 0.3);
     }
     50% {
       /* тени расходятся и плавно исчезают */
       box-shadow:
          inset 0 0 0 1px #4eff00,
         -1px -1px 0 3px rgba(81, 224, 38, 0),
          1px -1px 0 3px rgba(81, 224, 38, 0),
          1px  1px 0 3px rgba(81, 224, 38, 0),
         -1px  1px 0 3px rgba(81, 224, 38, 0);
     }
   }
.selected-glow {
     position: relative;
     animation: wave 3s infinite ease-out;
     border: var(--cellBorderSize) solid #4eff00 !important;
} 
.selected-glow:before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     
     box-shadow: inset 0 0 0 1px #4eff00, inset 0 0 2px 1px #50527e;
     z-index: 1;
}
.selected-glow .phrase-cell-number{
     color: #34377c;
}
.border-white{
     border-color: #dddce1;
}
.phrase-cell_notFilled .border-white{
     border-color: var(--mainColor);
}
.selected-glow .border-white{
     border-color: #50527e;
}
/* Анимации ввода букв */   
@keyframes shake {
     0%, 100% { transform: rotate(0deg); }
     10%, 50%, 90% { transform: rotate(-7.5deg); }
     30%, 70%{ transform: rotate(7.5deg); }
   }
.shake {
     /* animation: shake 1s ease-in-out; */
     transform-origin: center center;
     color: var(--wrongLetterColor);
}
@keyframes wave-red {
     0%{
       box-shadow:
          inset 0 0 0 1px rgba(188, 0, 0, 1),
         -1px -1px 0 0 rgba(188, 0, 0, 0.3),
          1px -1px 0 0 rgba(188, 0, 0, 0.3),
          1px  1px 0 0 rgba(188, 0, 0, 0.3),
         -1px  1px 0 0 rgba(188, 0, 0, 0.3);
     }
     50% {
       /* тени расходятся и плавно исчезают */
       box-shadow:
          inset 0 0 0 1px rgba(188, 0, 0, 1),
         -1px -1px 0 3px rgba(188, 0, 0, 0),
          1px -1px 0 3px rgba(188, 0, 0, 0),
          1px  1px 0 3px rgba(188, 0, 0, 0),
         -1px  1px 0 3px rgba(188, 0, 0, 0);
     }
     100%{
          box-shadow:
          inset 0 0 0 1px rgba(188, 0, 0, 1),
         -1px -1px 0 0 rgba(188, 0, 0, 0.3),
          1px -1px 0 0 rgba(188, 0, 0, 0.3),
          1px  1px 0 0 rgba(188, 0, 0, 0.3),
         -1px  1px 0 0 rgba(188, 0, 0, 0.3);
     }
   }
.wrong-letter{
     animation: wave-red 3s ease-in-out infinite;
     /* box-shadow: inset 0 0 3px var(--wrongLetterColor); */
     border: var(--cellBorderSize) solid var(--wrongLetterColor);
}
@keyframes wrongLetterColor {
     0%{
          color: transparent;
     }
     40%, 100%{
          color: var(--wrongLetterColor);
     }
}
.wrong-letter .phrase-cell-number{
     /* animation: wrongLetterColor 1s ease-out infinite; */
     color: var(--wrongLetterColor);
}
.wrong-letter .border-white{
     border-color: var(--wrongLetterColor);
}
.wrong-letter:before{
     box-shadow: inset 0 0 0 1px var(--wrongLetterColor);
}
   
@keyframes correctLetter {
     0%{
          background-color: var(--notFilledColor);
          color: var(--rightLetterColor);
     }
     100% {
          background-color: var(--mainColor);
          color: #fff;
      }
   }
.correct-letter {
     /* animation: correctLetter 0.5s ease-in-out forwards; */
}
@keyframes completeNumber {
     0%{
          transform: scale(1) translateY(0);
          text-shadow: none;
     }
     10%, 80%{
          transform: scale(1.26) translateY(-1px);
          text-shadow: 0px 0 10px #398026;
     }
     100%{
          transform: scale(1) translateY(0);
          text-shadow: none;
     }
}
@keyframes completeNumberInner {
     0%{
          background-color: var(--mainColor);
     }
     10%, 80%{
          background-color: #3f41a0;
     }
     100%{
          background-color: var(--mainColor);
     }
}
.complete-number .phrase-cell-inner{
     /* animation: completeNumber 1s ease-out forwards; */
     /* animation: completeNumberInner 1.4s ease-out forwards; */
}
.complete-number .phrase-cell-letter{
     animation: completeNumber 0.8s ease-out forwards;
     z-index: 2;
}
.complete-number .phrase-cell-number{
     background-color: var(--mainColor);
}
.complete-number1 .phrase-cell-number{
     animation: fallTransform 0.5s ease-in forwards;
}
.complete-number2 .phrase-cell-number, .complete-number3 .phrase-cell-number{
     animation: fallTransform2 0.5s ease-in forwards;
}
.phrase-cell_done:not(.complete-number):not(.numberCompleted) .phrase-cell-number{
     opacity: 0;
}
@keyframes cellDoneLetterAnimation {
     0%{
          opacity: 1;
          transform: scale(4) rotate(15deg) translate(15%, -35%);
     }
     20%{
          opacity: 1;
          transform: scale(1.2) rotate(0deg) translate(0, 0);
     }
     80%{
          opacity: 1;
          transform: scale(1.2) rotate(0deg) translate(0, 0);
     }
     100%{
          opacity: 0;
          transform: scale(1.2) rotate(0deg) translate(0, 0);
     }
}
.numberCompleted .phrase-cell-number{
     width: 100%;
     height: 100%;
     color: transparent;
     background: url(../assets/doneLetter.png) no-repeat center center !important;
     background-size: 100% !important;
     animation: cellDoneLetterAnimation 1.4s ease-out forwards;
     z-index: 2; 
}
.numberCompleted .phrase-cell-number:before,
.numberCompleted .phrase-cell-number:after {
  position: absolute;
  content: '';
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1000;
  background-repeat: no-repeat;
}

.numberCompleted .phrase-cell-number:before {
  display: block;
  animation: topBubbles 1.7s ease-out forwards;
  top: 0;
  background-image:
    radial-gradient(circle, #43d109 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #43d109 20%, transparent 30%),
    radial-gradient(circle, #43d109 20%, transparent 20%),
    radial-gradient(circle, #43d109 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #43d109 15%, transparent 20%),
    radial-gradient(circle, #43d109 20%, transparent 20%),
    radial-gradient(circle, #43d109 20%, transparent 20%),
    radial-gradient(circle, #43d109 20%, transparent 20%),
    radial-gradient(circle, #43d109 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.numberCompleted .phrase-cell-number:after {
  display: block;
  animation: bottomBubbles 1.7s ease-out forwards;
  background-image:
    radial-gradient(circle, #43d109 20%, transparent 20%),
    radial-gradient(circle, #43d109 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #43d109 15%, transparent 20%),
    radial-gradient(circle, #43d109 20%, transparent 20%),
    radial-gradient(circle, #43d109 20%, transparent 20%),
    radial-gradient(circle, #43d109 20%, transparent 20%),
    radial-gradient(circle, #43d109 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
@keyframes topBubbles {
  0%, 15%{
     opacity: 0;
     background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;

  }
  16% {
    opacity: 1;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    /* background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%; */
  }
}

@keyframes bottomBubbles {
  0%, 15%{
     opacity: 0;
     background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  16% {
    opacity: 1;
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    /* background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%; */
  }
}


@keyframes levelCompletedAnimation{
     100%{     
          transform: scale(1.9);
     }
}
@keyframes levelCompletedAnimationInner{
     100%{     
          background-color: transparent;
          box-shadow: none;
          border-color: transparent;
     }
}
@keyframes levelCompletedAnimation2{
     0%{

     }
     100%{
          margin: 0 10px 15px 10px;
          /* gap: 0; */
     }
}
@keyframes levelCompletedAnimationNumber{
     0%{
          max-height: 100px;
     }
     100%{
          max-height: 0;
     }
}
@keyframes mainBlockAnim{
	0% {
		opacity: 1;
		filter: blur(0px);
	}
	100% {
		opacity: 0.01;
		filter: blur(3px);
	}
}
.levelCompleted{
     animation: mainBlockAnim 0.8s ease-in-out forwards;
}
@keyframes mainBlockAnimFullCompleted{
	0% {
		opacity: 0.01;
		filter: blur(3px);
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
          filter: blur(0px);
		transform: scale(1);
	}
}
.levelFullCompleted{
     text-shadow: none;
     padding: 20px;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center;
     align-content: center;
     animation: mainBlockAnimFullCompleted 0.5s ease-in-out forwards;
}
.phrase-row__text{
     text-shadow: 0px 0px 1px black;
     color: white;
     font-size: 2.1rem;
     line-height: 2.3rem;
     text-align: center;
     margin-bottom: 40px;
}
.phrase-row__text_big{
     font-size: 1.7rem;
     line-height: 1.8rem;
}


.levelCompleted .phrase-cell, .levelCompleted .noLetterSymbol{
     /* animation: levelCompletedAnimation 1s ease-in-out forwards; */
}
.levelCompleted .phrase-cell_done .phrase-cell-inner{
     /* animation: levelCompletedAnimationInner 0.6s ease-in-out forwards; */
}
.levelCompleted .phrase-word{
     /* animation: levelCompletedAnimation2 1s ease-in-out forwards; */
}
.levelCompleted .phrase-cell-number{
     /* animation: levelCompletedAnimationNumber 1s ease-in-out forwards; */
}

.bottomLine{
     width: calc(100% + 2px) !important;
     left: -1px !important;
     z-index: 0;
   }
   .selected-glow .bottomLine{
     width: 100% !important;
     left: 0 !important;
     z-index: 0;
   }
.phrase-boom{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     pointer-events: none;
}
.dice-cell{
     width: 29px;
     height: 27px;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
     align-items: space-around;
     align-content: space-around;
     padding: 0px 1px;
     /* background-color: yellow; */
}
.dice-cell-circle{
     width: 6px;
     height: 6px;
     margin: 0 1px;
     border-radius: 50%;
     background-color: #453a96;

}
.dice-cell-circle_0{
     opacity: 0;
}
.dice-cell-circle_1{
     background-color: #453a96;
}
.dice-cell-circle_2{
     background-color: #e11638;
}

.phrase-cell_notFilled .dice-cell-circle_1{
     background-color: var(--mainColor);
}
.phrase-cell_notFilled .dice-cell-circle_2{
     background-color: #ff4463;
}