.modal-shop .modal-icon{
  background: url('../../assets/shop.svg') center center no-repeat;
  background-size: 100%;
}
.modal-shop-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e8e9ff;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 8px 6px;
  border-radius: 3px;
}
.modal-shop-row-name{
  font-size: 1.1rem;
  color: var(--modalTextColor);
  text-align: center;
  flex: 1 1 auto;
  min-width: 0;
  overflow-wrap: break-word;
}
.modal-shop-row-icon{
  position: relative;
  width: 60px;
  height: 60px;
  background: url('../../assets/tip-shop.svg') center center no-repeat, var(--mainColor);
  background-size: 50%;
  border-radius: 50%;
}
.modal-shop-row-icon-count{
  position: absolute; 
  bottom: 0px;
  right: -4px;
  min-width: 23px;
  min-height: 23px;
  background: #28d730;
  border-radius: 50%;
  color: #fdfdfd;
  border: 1px solid #e8e9ff;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  line-height: 1;
  padding: 1px;
}
.modal-shop-row-price{
  width: 90px;
  height: 60px;
  background-color: #35b24a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(252, 210, 73);
  text-shadow: 0px 1px 0px rgba(10, 10, 10, 0.49);
  border-radius: 4px;
  box-shadow: 0 1px 0px 0 rgba(10, 10, 10, 0.25), inset 0px -2px 0px 0px rgba(10, 10, 10, 0.15);
  flex: none;
  cursor: pointer;
  flex-shrink: 0;
}
.modal-shop-row-price_disabled{
  color: #fd5d70;
}
.modal-shop-row-price-icon{
  width: 26px;
  height: 21.395px;
  background: url('../../assets/coin2.png') center center no-repeat;
  background-size: 100%;
  margin-right: 3px;
}
.modal-shop-row-price:active{
  box-shadow: none;
  transform: scale(0.98);
}
.modal-section-tips{
  font-size: 1.3rem;
  color: var(--modalTextColor);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.modal-section-tips-count{
  font-weight: bold;
  margin: 0 5px !important;
}
.modal-shop-row-adv{
  background: url('../../assets/shop/advert.svg') center center no-repeat, #35b24a;
  background-size: 50%;
}
.modal-shop-row-notVisible{
  display: none;
}
.modal-shop-row-timer{
  color: white;
  font-variant-numeric: tabular-nums;
}
.modal-shop-row_disabled{
  display: none;
}