@media (orientation: landscape) and (max-height: 520px) {
     .game-header-wrap{
          height: 45px;
          margin-bottom: 10px;
     }
     .menu-settings-btn, .menu-tips-btn{
          width: 35px;
          height: 35px;
     }
     .game-header-type-icon{
          width: 30px;
          height: 30px;
     }
     .game-header{
          font-size: 1.1rem;
          /* line-height: 1.1rem; */
     }
     .game-keyboard {
          max-width: 100%;
          width: 100%;
     }
     .keyboard-key{
          height: 30px;
          width: 52px;
     }
     .game-keyboard-buttons {
          height: 35px;
     }
     .menu__top{
          position: absolute;
          height: 100%;
          width: 100px;
          flex-flow: column nowrap;
          align-items: flex-start;
          left: 0;
     }
     .menu-bottom{
          position: absolute;
          top: 0;
          right: 0;
          padding: 20px 0;
     }
     .menu-bottom, .menu-bottom-wrap{
          width: 80px;
          height: 100%;
          flex-flow: column nowrap;
          justify-content: space-between;
     }
     .menu-bottom-wrap{
          position: relative;
          top: 0;
     }
     .menu-bottom-icon{
          width: 50px;
          height: 50px;
          border-radius: 5px;
     }
     .menu-bottom-label{
          font-size: 0.8rem;
     }
     .moneyCount:not(.moneyCount__cancelBlocked){
          top: 50%;
          left: 0;
          transform: translateX(15%)  translateY(-50%);
          width: auto;

          flex-flow: column;
          justify-content: flex-end;
          align-items: center;
     }
     .moneyCount_big{
          transform: translateX(25%) translateY(-50%) scale(1.2);
     }
     .moneyCount:not(.moneyCount__cancelBlocked) .modal-shop-row-price-icon{
          margin-right: 0;
     }
     .modal, .modal-settings .modal{
          max-height: 100vh;
          max-height: 100dvh;
          height: 100%;
          height: 100vh;
     }
     .modal-wrapper, .modal-rating .modal-wrapper{
          max-height: 90vh;
          max-height: 90dvh;
     }
     .modal-settings .modal-wrapper{
          max-height: 80vh;
          max-height: 80dvh;
     }
     .modal-language__languages{
          max-height: 100%;
     }
     .collection-category-main-quote{
          max-height: 35vh;
     }
     .menu__centerBlock{
          margin-bottom: 0;
          height: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          padding: 20px 0;
     }
     .menu-continue{
          margin: 0;
     }
     .modal, .modal-wrapper {
          scrollbar-width: thin;              /* для Firefox */
          scrollbar-color: var(--mainColor) var(--mainColor); /* трек и ползунок */
        }     
     /* WebKit (Chrome, Edge, Safari) */
     .modal::-webkit-scrollbar, .modal-wrapper::-webkit-scrollbar {
     width: 8px;
     }
     
     .modal::-webkit-scrollbar-track, .modal-wrapper::-webkit-scrollbar-track {
     background: var(--mainColor);
     }
     
     .modal::-webkit-scrollbar-thumb, .modal-wrapper::-webkit-scrollbar-thumb {
     background-color: rgba(255, 255, 255, 0.8);
     border-radius: 4px;
     border: 2px solid transparent;
     background-clip: content-box;
     }
     
     .modal::-webkit-scrollbar-thumb:hover, .modal-wrapper::-webkit-scrollbar-thumb:hover {
     background-color: rgba(255, 255, 255, 0.8);
     } 
     .menu-home-btn{
          height: 35px;
          width: 35px;
     }
     .game-header-type-icon-levelDone{
          width: 38px;
          height: 38px;
     }
     .phrase-row{
          padding-top: 10px;
     }
     .phrase-row__text{
          font-size: 1.5rem;
          line-height: 1.2;
          margin-bottom: 10px;
          max-height: 30vh;
     }
     .phrase-row__text_big{
          font-size: 1.7rem;
          line-height: 1.8rem;
     }
     .game-main_author-name{
          font-size: 1rem;
     }
     .game-main_author-desc{
          font-size: 0.9rem;
     }
     .game-main_copyButton{
          width: 35px;
          height: 35px;
     }
     .nextLevelButton{
          padding: 5px 0;
          margin: 0 auto 15px auto;
     }
     .nextLevelButton-text{
          font-size: 1.1rem;
          line-height: 1.5rem;
     }
     .nextLevelButton-level{
          font-size: 0.9rem;
     }
     .levelFullCompleted{
          /* justify-content: flex-start; */
          padding: 0 20px;
     }
     .closedMode__text{
          top: 21px;
     }
     .menu__modes, .menu-daily, .menu-continue{
          min-height: 0;
     }
     .menu-bottom-wrap__noRating{
          justify-content: center;
     }
     .menu-bottom-wrap__noRating .menu-bottom-icon{
          margin: 0 0 40px 0;
     }
     .modal{
          border-radius: 20px 20px 0 0;
     }
     .phrase-cell-inner {
          width: 1.6rem;
          height: 2rem;
          font-size: 1.65rem;
     }
     .phrase-cell-number{
          font-size: 1.2rem;
          line-height: 1.5rem;
     }
     .keyboard-blocked-text{
          margin: 5px 0 10px 0;
     }
     .keyboard-blocked-text br{
          display: none;
     }
     .calendar-wrapper{
          justify-content: center;
     }
     .calendar-wrapper .menu__top{
          left: 0;
          transform: none;
     }
     .calendar {
          /* max-width: 500px; */
          /* margin: 0 250px 0 auto; */
          margin-top: 20px;
          position: relative;
          max-height: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
      }
     .calendar__play{
          width: 200px;
          height: 60px;
          font-size: 1.2rem;
          line-height: 1.2rem; 
     }
     .calendar__play__lookAdv{
          font-size: 0.8rem;
          line-height: 0.8rem;
     }
     .calendar__days{
          min-height: 0;
     }
     .calendar__day{
          width: 30px;
          height: 30px;
          font-size: 1rem;
     }
     .calendar__day_lookAdv:after{
          width: 10px;
     }
     .calendar__progress-bar__number, .calendar__progress-bar__zero{
          font-size: 0.8rem;
          line-height: 0.8rem;
     }
     .calendar__prize__tip{
          width: 30px;
     }
     .calendar__prize__iq{
          width: 29px;
     }
     .calendar__prize__money-count{
          font-size: 0.7rem;
          line-height: 0.7rem;
     }
     .calendar__prize .calendar__prize__money{
          width: 18px;
     }
     .calendar-month-name{
          font-size: 1.3rem;
          line-height: 1.1rem;
     }
     .calendar-location-name{
          font-size: 0.9rem;
          line-height: 0.9    rem;
     }
     .calendar__arrow-left, .calendar__arrow-right{
          width: 16px;
     }
     .calendar-month{
          margin-bottom: 44px;
          width: 300px;
     }

     .calendar__days{
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          width: 90vw;
          max-width: 100vw;

     }
     .calendar__progress{
          width: 300px;
     }
     .rules {
          max-width: 95%;
          width: 700px;
          height: 100%;
          max-height: 100%;
          padding-right: 90px;
     }
     .rules-button{
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 90px;
          word-break: break-all;
          border-radius: 0 6px 6px 0;
          text-align: center;
          font-size: 1.3rem;
     }
     .rules-button:active{
          box-shadow: none;
          transform: none;
     }
     .rules-steps{
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          padding-right: 90px;

     }
     .rules-button:before{
          display: none;
     }
     .rules-main{
          width: 500px;
          max-width: 70vw;
     }
     .rules-wrap, .rules-track, .slide{
          height: 100%;
          max-height: 100%;
     }
     .rules .slide{
          justify-content: space-between;
          padding-bottom: 50px;
     }
     .rules-keyboard{
          width: 180px;
          min-height: 0;
     }
     .rules-main-keyboard{
          padding: 2px 0;
          width: 240px;
     }
     .rules-text{
          font-size: 1.1rem;
          width: 350px;
          max-width: 50vw;
          margin: 15px 0 10px 0;
     }
}
@media (orientation: landscape) and (max-height: 350px) {
     .menu__centerBlock{
          padding: 5px 0;
     }
     .menu-bottom-icon{
          width: 45px;
          height: 45px;
     }
     .menu-bottom{
          width: 80px;
     }
     .menu-bottom-label{
          font-size: 0.7rem;
     }
     .menu__modes{
          margin-bottom: 0;
     }
}
@media (orientation: landscape) and (max-height: 310px) {
     .rules-main{
          padding-top: 8px;
     }
     .rules-title{
          margin: 5px 0 0 0;
     }
}