@media (min-width: 600px) {
     .menu__top{
          max-width: 1000px;
          margin: 0 auto;
     }
     .menu-bottom-wrap{
          justify-content: center;
          top: -35px;
     }
     .noAds{
          font-size: 1.2rem;
          line-height: 1.2rem;
          align-items: center;
     }
     .noAds_text{
          margin-right: 5px;
     }
     .menu-bottom-icon{
          width: 5rem;
          height: 5rem;
          margin: 0 30px;
     }
     .menu-bottom-label{
          font-size: 1.2rem;
     }
     .menu-continue-btn{
          max-width: 350px;
          font-size: 1.7rem;
          line-height: 1.7rem;
     }
     .menu-continue-btn__level{
          font-size: 1.1rem;
          line-height: 1.1rem;
     }
     .modal{
          max-width: 420px;
     }
     .modal, .rules, .collection-category-container{
          animation: modalFadeInCenter 0.2s ease-out forwards;
     }
     .modal_closing .blackout{
          transition: opacity 0.2s ease-out;
          opacity: 0;
        }
     .modal_closing .modal{
          animation: modalCloseInCenter 0.2s ease-out forwards;
     }
     .modal-title{
          font-size: 1.5rem;
          padding: 7px 10px;
     }
     .modal-icon{
          width: 32px;
          height: 32px;
     }
     .modal-close{
          width: 29px;
          height: 29px;
     }
     .modal-section-title{
          font-size: 1.3rem;
     }
     .modal-settings-row-text{
          font-size: 1.3rem;
     }
     .modal-settings .modal{
          width: 370px;
     }
     .switch{
          transform: scale(1.15);
     }
     .modal-shop-row-icon{
          width: 65px;
          height: 65px;
     }
     .modal-shop-row-name{
          font-size: 1.25rem;
     }
     .modal-shop-row-price{
          width: 105px;
          height: 65px;
          font-size: 1.25rem;
     }
     .modal-shop-row-price-icon{
          width: 28.6px;
          height: 23.5345px;
     }
     .rating-row-icon{
          width: 50px;
          height: 50px;
     }
     .rating-row-name{
          font-size: 1.2rem;
          width: 220px;
          max-width: 220px;
     }
     .modal-collection .modal-shop-row-name{
          font-size: 1.3rem;
     }
     .game-header{
          font-size: 1.3rem;
     }
     .game-header-wrap{
          max-width: 1000px;
          margin: 0 auto;
     }
     .phrase-row{
          max-width: 1000px;
     }
     .menu-settings-btn, .menu-tips-btn{
          width: 50px;
          height: 50px;
     }
     .game-keyboard{
          max-width: 600px;
          border-radius: 10px 10px 0 0;
     }
     .game-keyboard-buttons{
          right: 9px;
          
        }
     .game-keyboard-buttons_left{
          left: 9px;
          right: auto;
     }
     .game-header-type-icon{
          width: 45px;
          height: 45px;
     }
     .modal-rating .modal-wrapper{
          max-height: 475px;
     }
}
@media (max-width: 600px) {
     .game-header-gameName_text{
          font-size: 1.2rem;
     }
     .game-header-type-icon-levelDone {
          width: 35px;
          height: 35px;
      }
}

@media (max-height: 670px) {
     .rules-main{
          height: 250px;
     }
}
@media (max-height: 600px) {
     .rules-main{
          height: auto;
     }
}
@media (min-height: 800px){
     .menu__centerBlock{
          margin-bottom: 100px;
     }

}

@media (max-height: 700px){
      .menu-daily-row{
          height: 25px;
      }
      .menu-daily-label {
          font-size: 0.85rem;
      }
      .menu-daily-broccoli{
          height: 94px;
      }
      .menu-daily-row-block{
          margin: 10px 0;
      }
      .menu-daily-value-text{
          font-size: 0.85rem;
      }
      .menu-daily-value-done {
          width: 18px;
          height: 16px;
      }
      .menu-continue-btn{
          font-size: 1.2rem;
          line-height: 1.2rem;
          max-width: 270px;
      }
      .menu-continue-btn__level{
          font-size: 0.9rem;
          line-height: 0.9rem;
      }
      .menu-continue-btn-category{
          height: 33px;
          width: 33px;
      }
      .menu-continue{
          margin-top: 2rem;
      }
      .menu-bottom-icon{
          width: 3.5rem;
          height: 3.5rem;
      }
      .menu-bottom-label{
          font-size: 0.9rem;
      }
      .menu-bottom{
          height: 4.5rem;
      }
      .menu-daily-title{
          font-size: 1rem;
      }
      .menu-daily-title-block .menu-daily-iq{
          font-size: 1.2rem;
          line-height: 1.2rem;
      }
      .menu-daily-iq-number{
          margin-left: 0;
      }
      .menu-daily-bottom{
          font-size: 0.75rem;
      }

}

@media (max-height: 700px) and (min-width: 600px){
     .menu-bottom-icon {
          width: 3.7rem;
          height: 3.7rem;
     }
     .menu-bottom-wrap {
          top: -17px;
      }
      .menu-daily-row{
          height: 24px;
      }
      .menu-daily-label, .menu-daily-value-text{
          font-size: 0.9rem;
      }
      .menu-daily-broccoli{
          width: 104px;
      }
}